<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Stepik Travel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'main' %}">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            {% url 'departure' 'msk' as dep_msk_url %}
            <a href="{{ dep_msk_url }}" class="nav-link {% if request.path == dep_msk_url %}active{% endif %}">Из Москвы</a>
          </li>
          <li class="nav-item">
            {% url 'departure' 'spb' as dep_spb_url %}
            <a href="{{ dep_spb_url }}" class="nav-link {% if request.path == dep_spb_url %}active{% endif %}">Из Петербурга</a>
          </li>
          <li class="nav-item">
            {% url 'departure' 'nsk' as dep_nsk_url %}
            <a href="{{ dep_nsk_url }}" class="nav-link {% if request.path == dep_nsk_url %}active{% endif %}">Из Новосибирска</a>
          </li>
          <li class="nav-item">
            {% url 'departure' 'ekb' as dep_ekb_url %}
            <a href="{{ dep_ekb_url }}" class="nav-link {% if request.path == dep_ekb_url %}active{% endif %}">Из Екатеринбурга</a>
          </li>
          <li class="nav-item">
            {% url 'departure' 'kazan' as dep_kazan_url %}
            <a href="{{ dep_kazan_url }}" class="nav-link {% if request.path == dep_kazan_url %}active{% endif %}">Из Казани</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  {% block content %} {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>