{% extends 'tours/base.html' %}

{% block content %}

  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ city }}</h1>
    <p class="mb-4">Найдено {{ len_dep }} туров, от {{ min_coast }} до {{ max_coast }} р и от {{ min_night }} ночей до {{ max_night }} ночей</p>
    <!-- CARDS -->

    <div class="row mt-5">
      {% for id, dep in city_deps %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ dep.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ dep.title }}</h2>
            <p class="card-text">{{ dep.description }}</p>
            <a href="{% url 'tour' id %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

{% endblock %}